<!DOCTYPE HTML>
<head xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="utf-8">
    <title th:text="${article.getTitle()}"></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/load.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/article-content.js"></script>
    <script src="/js/prettify.min.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script src="/js/comment.js"></script>
</head>

<body>
    <div id="container">
        <header id="header" style="position: fixed;width: 100%;z-index: 99999;height: 64px;">
            <div id="header-main" class="header-inner">
                <div class="outer">
                    <a href="/" id="logo">
                        <span class="site-title" th:text="${article.getAuthor()}"></span>
                        <span class="site-title">的个人博客</span>
                    </a>
                    <nav id="main-nav">

                        <a class="main-nav-link" href="/">主页</a>

                        <a class="main-nav-link" href="/popular">热门文章</a>

                        <a class="main-nav-link" href="/about/me">
                            <a th:href="@{'/information/'+${article.getAuthor()}}">关于<span th:text="${article.getAuthor()}"></span></a>
                        </a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="outer">

            <section id="main" style="float: none;">
                <div id="main-article">
                    <article class="article article-type-post" style="margin-top: 80px;margin-bottom: 0;">
                        <div class="article-inner">
                            <header class="article-header">

                                <h1 class="article-title" itemprop="name">
                                    <span id="article-title" th:text="${article.getTitle()}"></span>
                                </h1>

                                <div class="article-meta">

                                    <div style="text-transform: none;margin-right: 25px;">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        <span th:text="${article.getAuthor()}"></span>
                                    </div>

                                    <div class="article-date" style="margin-right: 25px;">
                                        <i class="fa fa-calendar"></i>
                                        <time th:text="${article.getCreateTime()}"></time>
                                    </div>

                                    <div class="article-date" style="margin-right: 25px;">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                        <time th:text="${article.getUpdateTime()}"></time>
                                    </div>

                                    <div style="margin-right: 25px;">
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                        <span th:text="${article.getAccess_count()}"></span>
                                    </div>

                                    <div class="article-tag" style="text-transform: none;">
                                        <i class="fa fa-tag"></i>
                                        <span th:text="${article.getTags()}"></span>
                                    </div>

                                </div>

                            </header>

                            <div class="article-entry">
                                <div id="article_content">
                                    <textarea style="display:none;" th:text="${article.getContent()}"></textarea>
                                </div>

                            </div>
                        </div>

                    </article>
                </div>
            </section>
            <hr>
            <!--评论区-->
            <h2 style="font-size: 25px">评论区</h2>
            <div th:each="comment:${comments}">
                <article class="article article-type-post" style="margin-top: 10px;">
                    <div class="article-inner">
                        <header class="article-header">
                            <div class="article-meta">

                                <div style="text-transform: none;margin-right: 25px;">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    <span th:text="${comment.getSpeaker()}"></span>
                                </div>

                                <div class="article-date" style="margin-right: 25px;">
                                    <i class="fa fa-calendar"></i>
                                    <time th:text="${comment.getTime()}"></time>
                                </div>
                            </div>

                        </header>

                        <div class="article-entry">
                            <div>
                                <p th:text="${comment.getContent()}"></p>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
            <hr>
            <!--发表评论区-->
            <section>
                <h2 style="margin-left: 25%">评论发表区</h2>
                <form action="/upload_comment" method="post">
                <div>
                    <input id="article_id" name="article_id" type="text" class="form-control" th:value="${article.getArticle_id()}" style="width: 0px;padding: 0;border: 0;">
                    <!--<span  display></span>-->
                    <!--<div th:text="${article.getArticle_id()}" visible="hidden"></div>-->
                    <textarea style="width: 50%;margin-left: 25%;height: 150px;font-size: 15px" id="comment" name="comment">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-success" style="margin-left: 70%" id="comment_btn">提交</button>
                </div>

                </form>
            </section>
        </div>



    </div>

</body>

</html>