<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="./../register_assets/css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
    <script src="./../login_assets/js/jquery-1.11.1.min.js"></script>
    <script src="./../js/register.js"></script>
</head>
<body>
<h1>个人博客注册</h1>
<div class="log">
	<div class="content2">
		<h2>Sign Up Form</h2>
		<form>
			<input id="username" type="text" name="username" placeholder="please input username">
			<input id="phone" type="tel" name="usrtel" placeholder="please input phone number">
			<input id="email" type="email" name="email" placeholder="please input email">
			<input id="sex" type="text" name="sex" placeholder="please input boy or girl">
			<input id="psw" type="password" name="psw" placeholder="please input password">
            <input id="psw_check" type="password" name="psw_check" placeholder="please input password again">
			<input type="submit" class="register" value="Register" id="register_btn">
		</form>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>