<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <title th:text="${user.getName()}+'的个人信息'"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body class="demo-two" style="background-image: url(/image/bg-mountain.png)">

<section class="hero bg-indigo">
    <div class="container">
        <div class="row">
            <div class="card border-none col-lg-6 col-md-8 col-sm-10 mx-auto bg-texture">
                <div class="card-body text-white text-center py-4">
                    <div class="mb-3">
                        <img src="/image/profile.jpg" alt="Male" class="brand-logo img-fluid rounded-circle"/>
                    </div>
                    <h1 class="pt-4 text-white h2" th:text="${user.getName()}"></h1>

                    <p class="mt-4 lead text-white" th:text="'联系方式：'+${user.getPhone()}"></p>
                    <p class="mt-4 lead text-white" th:text="'email：'+${user.getEmail()}"></p>
                    <p class="mt-4 lead text-white" th:text="'性别：'+${user.getSex()}"></p>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
